<div class="container">
    <article id="indexHeading">
        <h1>SUPERCROSS NEWS</h1>
    </article> 
</div>

<article id="cardWrap" class="container-fluid">
    {{#if articles}}
    <div id="renderArticles" class="row justify-content-center"></div>
    {{else}}
    {{!-- to show there are no more articles to display --}}
        <section class="noArticles">
            <h4>THERE ARE NO ARTICLES AT THIS TIME. TRY SCRAPING OR SAVING AN ARTICLE.</h4>
        </section>
    {{/if}}
</article>