<div class="container">
    <h1>SAVED ARTICLES</h1>
    <button id="unsaveAll" type="button">Unsave All</button>
    <div class="col-md-12">
        {{!-- checks if there are saved articles --}}
        {{#if savedArticles}}
        <div id="renderSaved" class="row justify-content-center"></div>

        {{else}}
        {{!-- to show there are no more articles to display --}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no other saved articles.</h4>
            </div>
        </div>
        {{/if}}

    </div>
</div>