<div class="container">
    <article id="savedHeading">
        <h1>SAVED ARTICLES</h1>
        <button id="unsaveAll" type="button">UNSAVE ALL</button>
    </article>

    <div class="col-md-12">
        {{!-- checks if there are saved articles --}}
        {{#if savedArticles}}
        <div id="renderSaved" class="row justify-content-center"></div>

        {{else}}
        {{!-- to show there are no more articles to display --}}
        <section class="noArticles">
            <h4>THERE ARE NO ARTICLES AT THIS TIME. TRY SCRAPING OR SAVING AN ARTICLE.</h4>
        </section>
        {{/if}}

    </div>
</div>