body {
    background-color: rgb(173, 173, 173);
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#navbar {
    background-color: rgb(214, 214, 214);;
    box-shadow: 0 2px 5px rgb(158, 158, 158);
}
/* navigation buttons */
.navBtn {
    margin: 0 .3rem 0 .3rem;
    background-color: rgb(12, 109, 200);
    color: white;
    border: 1px solid rgb(12, 109, 200);
    border-radius: 3px;
    padding-bottom: .2rem;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.navBtn:hover {
    color: black;
}
/* heading for the home page */

#indexHeading {
    background-color: rgb(12, 109, 200);
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 1rem;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgb(148, 148, 148);
}

#indexHeading > h1 {
    font-weight: 700;
    color: white;
}

/* wrap surrounding each card */

.articleCard {
    width: 24rem;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 1rem;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgb(133, 133, 133);
}

/* card title */

.cardTitle {
    color: white;
    margin: 3.5rem 0 0 .5rem;
}

/* card date */

.cardDate {
    color: white;
    margin: .2rem 0 0 .5rem;
}

/* button wrapper for card */

.btnWrap {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* save button */

.saveBtn {
    background-color: rgb(214, 214, 214);
    border: 1px solid rgb(214, 214, 214);
    border-radius: 2px;
}

/* link button */

.linkBtn {
    background-color: rgb(12, 109, 200);
    border: 1px solid rgb(12, 109, 200);
    border-radius: 2px;
}

/* no article section */
.noArticles>h4 {
    text-align: center;
    margin-top: 2rem;
}